<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About — A Messed Up Flow of Time</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="about-screen">

  <nav class="top-nav">
    <a href="{{ url_for('menu') }}">Menu</a>
    <a href="{{ url_for('title') }}">Title Screen</a>
  </nav>

  <main class="about-container">
    <h1>About the Author / Project</h1>
    <p>
      As a poet, I write from the threshold between intellect and body. 
     I am drawn to liminal states and obsessed with the ways language, desire, 
      and selfhood become dangerous once they pass through the body.
    </p>
    <p>
      This collection of poems offers glimpses of my life, highlighting the
      difference between experiential time and linear time.
    </p>
    <p>
      Nothing is static, so enjoy the messed up flow of time. :)
    </p>
  </main>

</body>
</html>
